#canvasGame{
    display: flex;
    padding: 0;
    margin: auto;
    min-width: 960px;
    max-height: 600px;
    justify-self: center;
}
#canvasInterface {
    display: flex;
    padding: 0;
    margin: auto;
    min-width: 960px;
    max-height: 600px;
    justify-self: center;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}